/*************************
My base styles for FEWD - New Sass
Robert Manolis
Milwaukie, OR - 4/6/2017
*************************/

/********Base/Resets**********/
* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding-left: 0;
}
/******************************/